*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #5d94dd;
    --secundary-color: #dda65d;
    --secundary-color-hover: rgba(221, 166, 93, .8);
    --text-color: #353535;
    --realce: #85d4e7;
    --concluido: #478b2c;
    --fundo: #e9ded0;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    color: var(--realce);
}

body{
    background-color: var(--fundo);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
}

h1{
    color: var(--primary-color);
}

h2{
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    text-align: center;
    color: var(--primary-color);
}

header{
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
}

header>nav>ul{
    display: flex;
    gap: 15px;
}

header>nav>ul>li{
    list-style: none;
}

#main-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    justify-content: center;
}

.add-item{
    align-items: flex-end;
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.add-item input{
    text-size-adjust: 1.2rem;
    background: transparent;
    color: #727272;
    padding: 5px;
    outline: none;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.add-item>button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--secundary-color);
    border: none;
    color: white;
    font-weight: 600;
}

.add-item>button:hover{
    background-color: var(--secundary-color-hover);
}

.add-item>button:active{
    transform: scale(.9);
    background-color: var(--secundary-color-hover);
}

.card-list{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    margin-top: 40px;
    flex-basis: 400px;
    flex-wrap: wrap;
}

.list{
    margin: 10px 0;
    line-height: 1.8em;
    color: var(--text-color);
    cursor: pointer;
}

#lista-a-fazer>li:hover {
    color: var(--secundary-color);
}

#lista-concluida{
    color: var(--concluido);
}

#lista-concluida>li:hover {
    color: var(--secundary-color);
}